{% extends 'base.html' %}
{% block content %}

<!-- end of header -->
<div id="templatemo_content">
  {% include 'includes/left-sidebar.html'%}
   <div id="templatemo_content_right">
     <h1>{{title.getTitle(cat).capitalize()}}</h1>
     {% if books %}
       {% for book in books %}
        <div class="templatemo_product_box mybooks-product-box">
           <h1>{{book.book_name[0:20]}}</h1>
           <img src="{{ url_for('static', filename='uploads/2020/')}}{{book.image_url}}" alt="image" />
           <div class="product_info">
              <div class="detail_button"><a href="{{ url_for('single_book') }}/{{title.getUrlTitle(book.book_name)}}?isbn={{book.ISBN}}">Detail</a></div>
           </div>
           <div class="cleaner">&nbsp;</div>
        </div>
        {% endfor%}
      {% else%}
        {% if title.getTitle(cat)=='All Categories' %}
          {% for category in categories %}
            <a href="{{url_for('category')}}/{{title.getUrlTitle(category.category_name)}}"><h1 class="category-title">{{category.category_name}}</h1></a>
          {% endfor %}
        {% else%}
          <p>No books found!</p>
        {% endif %}
      <div class="cleaner_with_height">&nbsp;</div>
      {{page_pagination}}
      {% endif %}




   </div>
   <!-- end of content right -->
   <div class="cleaner_with_height">&nbsp;</div>
</div>
<!-- end of content -->

{% endblock %}
