{% extends 'base.html' %}
{% block content %}
<div id="templatemo_content">
   <div id="templatemo_content">
      {% include "includes/myaccount-sidebar.html" %}
      <!-- end of content left -->
      <div id="templatemo_content_right">
         <h1>Add New Book</h1>
         <div class="well profile">
            <div class="col-sm-12">
               <div class="col-xs-12 col-sm-8">
                  {{count}}
                  <form action="{{ url_for('myaccount')}}add_new_book" method="post" enctype="multipart/form-data">
                     {{ form.hidden_tag() }}
                     <div class="form-group">
                        {{ form.book_name.label }}
                        {{ form.book_name(size=35,class="form-control") }}
                        {% for error in form.book_name.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}
                     </div>
                     <div class="form-group">
                        {{ form.author.label }}
                        {{ form.author(size=35,class="form-control") }}
                        {% for error in form.author.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}
                     </div>
                     <div class="form-group">
                        {{ form.ISBN.label }}
                        {{ form.ISBN(size=35,class="form-control") }}
                        {% for error in form.ISBN.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}
                     </div>
                     <div class="form-group">
                        {{ form.overview.label }}
                        {{ form.overview(class="form-control") }}
                        {% for error in form.overview.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}
                     </div>
                     <div class="form-group">
                        {{ form.category.label }}
                        {{ form.category(class="form-control") }}
                        {% for error in form.category.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}
                     </div>
                     <div class="form-group">
                        {{ form.upload.label }}
                        {{ form.upload(class="form-control") }}
                        {% for error in form.upload.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}
                     </div>
                     {{ form.submit(class="btn btn-warning") }}
                  </form>
               </div>
            </div>
         </div>
         <div class="cleaner_with_height">&nbsp;</div>
      </div>
      <!-- end of content right -->
      <!-- end of content right -->
      <div class="cleaner_with_height">&nbsp;</div>
   </div>
   <!-- end of content -->
</div>
{% endblock content %}
