{% extends 'base.html' %}
{% block content %}

  <div id="templatemo_content">
    <div id="templatemo_content">
      {% include "includes/myaccount-sidebar.html" %}
       <!-- end of content left -->
       <div id="templatemo_content_right">

           <h1>My Books</h1>

               <div class="well profile">
                 <div class="col-sm-12">
                     <div class="col-xs-12 col-sm-12 col-md-12">
                       {% for book in books %}
                       <div class="templatemo_product_box mybooks-product-box">
                          <h1>{{book.book_name}}</h1>
                          <img src="{{ url_for('static', filename='uploads/2020/')}}{{book.image_url}}" alt="image" />
                          <div class="product_info">
                             <div class="detail_button"><a href="{{ url_for('myaccount') }}book_view/{{title.getUrlTitle(book.book_name)}}?isbn={{book.ISBN}}">Detail</a></div>
                          </div>
                          <div class="cleaner">&nbsp;</div>
                       </div>
                       {% else %}
                        <p>No books found</p>
                       {% endfor %}
                      <div class="cleaner_with_height">&nbsp;</div>

                     </div>
                 </div>
                 <hr>
                 <div class="col-xs-12 col-md-12 col-sm-12 divider text-center">
                     <div class="col-xs-12 col-sm-4 col-md-4 emphasis">
                         <h2><strong></strong></h2>
                         <a href="{{url_for('myaccount')}}add_new_book" class="btn btn-info btn-block"><span class="fa fa-plus"></span> Add Book </a>
                     </div>
                     {% if books %}
                     <div class="col-xs-12 col-sm-4 col-md-4 emphasis">
                         <h2><strong></strong></h2>
                         <a href="{{url_for('myaccount')}}edit_profile" class="btn btn-info btn-block"><span class="fa fa-edit"></span> Edit </a>
                     </div>
                     {% endif%}
                 </div>
            </div>
            <div class="cleaner_with_height">&nbsp;</div>


       </div> <!-- end of content right -->
       <!-- end of content right -->
       <div class="cleaner_with_height">&nbsp;</div>
    </div>
    <!-- end of content -->
  </div>

{% endblock content %}
