{% extends 'base.html' %}
{% block content %}

  <div id="templatemo_content">
    <div id="templatemo_content">

       <div id="templatemo_content_right" class="register-login">
          <img class="page-header" src="{{ url_for('static', filename='images/page-header-bg.png')}}" alt="">
           <h1>Register </h1>
           <form action="/myaccount/register" method="post">
             {{ page_data.form.hidden_tag() }}
             <div class="form-group">
               {{ page_data.form.name.label }}
               {{ page_data.form.name(size=35,class="form-control") }}
               {% for error in page_data.form.name.errors %}
                   <span class="error-message">{{ error }}</span>
               {% endfor %}
             </div>
            <div class="form-group">
              {{ page_data.form.email.label }}
              {{ page_data.form.email(size=35,class="form-control") }}
              {% for error in page_data.form.email.errors %}
                  <span class="error-message">{{ error }}</span>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ page_data.form.password.label }}
              {{ page_data.form.password(size=35,class="form-control") }}
              {% for password in page_data.form.password.errors %}
                  <span class="error-message">{{ password }}</span>
              {% endfor %}
            </div>
            <div class="form-group">
              {{ page_data.form.password_confirm.label }}
              {{ page_data.form.password_confirm(size=35,class="form-control") }}
              {% for password_con in page_data.form.password_confirm.errors %}
                  <span class="error-message">{{ password_con }}</span>
              {% endfor %}
            </div>
            {{ page_data.form.submit(class="btn btn-warning") }}
          </form>
            <div class="cleaner_with_height">&nbsp;</div>


       </div> <!-- end of content right -->
       <!-- end of content right -->
       <div class="cleaner_with_height">&nbsp;</div>
    </div>
    <!-- end of content -->
  </div>

{% endblock %}
