<div id="templatemo_content_left">
   <div class="templatemo_content_left_section">
      <h1><a href="{{url_for('category')}}/allcategories">Categories</a></h1>
      <ul>
          <li><a href="{{url_for('browse')}}"><i class="fa fa-angle-right"></i> All Books</a></li>
         {% for category in page_data.categories[0:8] %}
         <li><a href="{{url_for('category')}}/{{page_data.slug_ob.getUrlTitle(category.category_name)}}"><i class="fa fa-angle-right"></i> {{category.category_name}}</a></li>
         {% endfor %}
      </ul>
   </div>
   <div class="templatemo_content_left_section">
      <h1><a href="{{url_for('category')}}/recently_added">Recently Added</a></h1>
      <ul>
         {% for book in page_data.recently_added[0:8] %}
         <li><a href="{{ url_for('single_book') }}{{(book.slug)}}"><i class="fa fa-angle-right"></i> {{book.book_name[0:25]}}</a></li>
         {% endfor %}
      </ul>
   </div>

</div>
<!-- end of content left -->
