{% extends 'base.html' %}
{% block content %}
<div id="templatemo_content">
   <div id="templatemo_content">
      {% include "includes/account-sidebar.html" %}
      <!-- end of content left -->
      <div id="templatemo_content_right">
         <h1>Change Password</h1>
         <div class="well profile">
            <div class="col-sm-12">
               <div class="col-xs-12 col-sm-8">
                  <form action="{{ url_for('account')}}change_password" method="post">
                     {{ form.hidden_tag() }}
                     <div class="form-group">
                        {{ form.new_password.label }}
                        {{ form.new_password(size=35,class="form-control") }}
                        {% for error in form.new_password.errors %}
                        <span class="error-message">{{ error }}</span>
                        {% endfor %}
                     </div>
                     {{ form.submit(class="btn btn-warning") }}
                  </form>
               </div>
            </div>
         </div>
         <div class="cleaner_with_height">&nbsp;</div>
      </div>
      <!-- end of content right -->
      <!-- end of content right -->
      <div class="cleaner_with_height">&nbsp;</div>
   </div>
   <!-- end of content -->
</div>
{% endblock content %}
